<h2 matDialogTitle>Add New Reference</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Ticket Title</mat-label>
    <textarea
      #titleInput
      matInput
      cdkFocusInitial
      cdkTextareaAutosize
      [(ngModel)]="story().title"
      required></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Original Story Point</mat-label>
    <input
      #spInput
      matInput
      type="number"
      [(ngModel)]="story().orgSp"
      required
      step="1"
      min="1"
      max="24">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ticket URL</mat-label>
    <input
      matInput
      [(ngModel)]="story().link">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-button
    [mat-dialog-close]="undefined">
    Cancel
  </button>
  <button
    mat-raised-button
    [disabled]="!titleInput.validity.valid || !spInput.validity.valid"
    [mat-dialog-close]="story()">
    Apply
  </button>
</mat-dialog-actions>
