@use "@angular/material" as mat;

:host {
  position: absolute;
  width: calc(var(--grid-width) * 2);
  min-width: 120px;
  --mat-sys-title-large-size: 12px;
  --mat-sys-title-medium-size: 10px;
  z-index: 0;
  margin-left: -12px;
  transition: all 0.1s ease-out;
  &:hover {
    z-index: 1;
    mat-card {
      box-shadow: var(--mat-sys-level2);
    }
  }
  &:focus-within {
    z-index: 2;
    mat-card {
      box-shadow: var(--mat-sys-level2);
    }
  }
}
:host-context(.cdk-drag-dragging) {
  z-index: 1;
  mat-card {
    box-shadow: var(--mat-sys-level4);
  }
}

.handle {
  display: flex;
  z-index: 1;
  position: absolute;
  aspect-ratio: 1/1;
  width: 24px;
  border-radius: 50%;
  background-color: var(--mat-sys-primary-container);
  cursor: move;
}
.menu {
  z-index: 1;
  position: absolute;
  right: 0;

  @include mat.menu-overrides((item-spacing: 20000px));
  @include mat.icon-button-overrides(
    (
      state-layer-size: 24px,
      icon-size: 14px
    )
  );
  mat-icon {
    width: 14px;
    height: 14px;
    font-size: 14px;
  }
}
mat-card-title {
  a {
    color: var(--mat-sys-primary);
    text-decoration: none;
  }
}
