:host {
  position: absolute;
  min-width: 120px;
  max-width: 240px;
  min-height: 120px;
  max-height: 240px;
  border: #999 1px solid;
  background: #eee;
}

.handle {
  display: flex;
  position: absolute;
  aspect-ratio: 1/1;
  width: 32px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #eb972a;
  cursor: move;
}
