<div
  #handle
  class="handle"
  tabindex="0"
  (keydown.ArrowRight)="data.set({sp: data().spForScale + 1});$event.preventDefault()"
  (keydown.ArrowLeft)="data.set({sp: data().spForScale - 1});$event.preventDefault()"
  cdkDragHandle>
</div>
<button
  mat-icon-button
  class="menu"
  [matMenuTriggerFor]="menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    (click)="editStory()">
    Edit
  </button>
  <button
    mat-menu-item
    (click)="removeStory(removeDilaog)">
    Remove
  </button>
</mat-menu>
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      @if (data().link) {
        <a
          [href]="data().link"
          target="_blank"
          rel="noopener">{{ data().title }}</a>
      } @else {
        {{ data().title }}
      }
    </mat-card-title>
    <mat-card-subtitle>
      SP: {{ data().spForScale | fn: round }}
      <span style="opacity: 0.5; float: right; padding-left: 8px">
        original SP: {{ data().orgSp }}
      </span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content> </mat-card-content>
</mat-card>

<ng-template #removeDilaog>
  <h2 mat-dialog-title>Remove the story from the scale</h2>
  <mat-dialog-content>
    Remove [{{ data().title }}]. continue?
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-button
      mat-dialog-close
      cdkFocusInitial>
      Cancel
    </button>
    <button
      mat-raised-button
      mat-dialog-close
      (click)="this.removed.emit(data().id)"
      cdkFocusInitial>
      OK
    </button>
  </mat-dialog-actions>
</ng-template>
