:host {
  position: absolute;
  width: calc(var(--grid-width) * 2);
  min-width: 120px;
  --mat-sys-title-large-size: 12px;
  --mat-sys-title-medium-size: 10px;
  z-index: 0;
  margin-left: -12px;
  transition: all 0.1s ease-out;
  &:hover {
    z-index: 1;
    mat-card {
      box-shadow: var(--mat-sys-level2);
    }
  }
}
:host-context(.cdk-drag-dragging) {
  z-index: 1;
  mat-card {
    box-shadow: var(--mat-sys-level4);
  }
}

.handle {
  display: flex;
  z-index: 1;
  position: absolute;
  aspect-ratio: 1/1;
  width: 24px;
  border-radius: 50%;
  background-color: var(--mat-sys-primary-container);
  cursor: move;
}
mat-card-title {
  a {
    color: var(--mat-sys-primary);
    text-decoration: none;
  }
}
