:host {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 16px;
}

.header {
  display: grid;
  grid-template-columns: repeat(100, 100px);
  .point {
    box-sizing: border-box;
    display: inline-block;
    aspect-ratio: 1 / 1;
    height: 3rem;
    transform: translateX(-50%);
    border-radius: 50%;
    background: #eee;
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    user-select: none;
  }
}

.body {
  display: grid;
  position: relative;
  grid-template-columns: repeat(100, 100px);
  flex-grow: 1;
  .guide {
    box-sizing: border-box;
    height: 100%;
    border-left: 1px #cccccc solid;
  }
}
