:host {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 16px;
}

.header {
  display: grid;
  grid-template-columns: repeat(25, var(--grid-width));
  .point {
    box-sizing: border-box;
    display: inline-block;
    aspect-ratio: 1 / 1;
    height: 3rem;
    transform: translateX(-50%);
    border-radius: 50%;
    background: var(--mat-sys-surface-container);
    color: var(--mat-sys-on-surface);
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    user-select: none;
  }
}

.body {
  display: grid;
  position: relative;
  grid-template-columns: repeat(25, var(--grid-width));
  flex-grow: 1;
  width: fit-content;
  .guide {
    box-sizing: border-box;
    height: 100%;
    border-left: 1px var(--mat-sys-outline-variant) solid;
  }
}
