<div class="header">
  @for (scale of scales; track $index) {
    <div
      class="point"
      [style]="{ 'grid-column': (scale + 1) }">
      {{ scale }}
    </div>
  }
</div>
<div
  class="body"
  [style]="{ height: maxY() + 200 + 'px' }"
  #body>
  @for (guide of guidelines; track $index) {
    <div class="guide"></div>
  }
  @for (story of stories(); track story) {
    <app-story-card
      [data]="story"
      [style]="{
      left: story().spForScale * gridWidth + 'px',
      top: story().y + 'px',
    }"
      cdkDrag
      [cdkDragConstrainPosition]=""
      [cdkDragData]="story"
      [cdkDragBoundary]="body"
      (cdkDragEnded)="onDroped($event)"
    />
  }
</div>
